@media (max-width:1920px) { }
@media (max-width:1366px) { }
@media (max-width:1280px) {
    .featured-product-sidebar { float: left; width: 22% }
    .featured-product-content { width: 78% }
    .inner-top-toggle .close-top-toggle { right: 0 }
    .tp-caption.lfl.start { left: 30px !important }
    .outlet-slider-thumb img { width: 100% }
    .item-featured-product { min-height: 280px }
    .item-paginav-featured{min-height: 465px;}
}
@media (max-width:1024px) {
}
@media (max-width:990px) {}
@media (max-width:800px) {}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    /*.category-hover2 .list-category-hover > li > a { padding: 10px 20px 10px 50px }
    .hot-deal-slider.slider-home2 .hot-deal-product-thumb { padding: 10px 19px 0 }
    .box-trending3 .list-trending3 { padding: 3px 0 }
    .item-best-seller.item-leading { padding-top: 6px }
    .hot-deals .slider-home4 .list-product-hotdeal > li { padding: 12px 10px }
    .item-best-seller.item-leading { (; padding-top: 6px; ) }
    .hot-deals .slider-home4 .list-product-hotdeal > li { (; padding: 12px 10px; ) }
    .featured-info-sale { min-height: auto }
    .featured-product-thumb .product-info-cart { display: none }
    .persale-text { display: none }
    .popcat-box { padding: 25px 10px }
    .box-newsletter form { padding-right: 0 }
    .new { display: none }
    .item-featured-product { min-height: 230px }
    .featured-product2.red-box .item-featured-product { min-height: 280px }
    .hot-deal-tab-slider.hot-deal-tab-slider12 { margin-top: 50px }
    .content-popular11 .popular-cat-title ul li+li+li+li+li+li { display: none }
    .featured-product2.featured-product-cat .product-rating.rating-style2 { display: none }
    .featured-product-cat .main-featured-left .item-featured-product { min-height: 195px }
    .featured-product2 .adv-featured-product { margin-right: 0px }
    .search-form4 .smart-search-form input[type="text"] { padding: 0 10px }
    .supper-deal6 .popular-cat-slider.slider-home6 { padding-top: 0 }
    .product-bestseller-slider .slider-home2 .item-product-bestseller { padding: 8px 0 }
    .list-tab-product { min-height: 0 }
    .mobile-access-thumb  a:hover::before, .mobile-access-thumb  a:hover::after { display: none }
    .box-facebook .fb-page.fb_iframe_widget > span { height: 300px !important }
    .box-best-seller3 .ad-best-seller { margin-bottom: 30px }
    .mobile-access-box.mobile-access-long { padding: 39px 25px }
    .box-trending8 .list-trending8 { border: 1px solid #e5e5e5; padding: 9px 0px }
    .box-trending9 .list-trending8 { padding: 6px 0 }
    .list-trending9 .item-trending3 { padding: 17px 10px 17px 20px }
    .adv-sidebar9 .sidebar-cat-childrent { min-height: 230px }
    .category-adv .sidebar-cat-childrent { min-height: 200px }
    .category-adv .item-cat-brand img { max-width: 155px }
    .featured-product12 .item-category-featured-product { (; padding: 0px 20px; ) }
    .featured-product12 .item-category-featured-product .product-info { (; padding: 19px 0; ) }*/
}
@media (max-width:991px) {}
@media (max-width:767px) {}
@media (max-width:480px) {
    .container { width: 95% !important; }
    .top-info .top-language, .top-info .top-currency { display: none }
    .menu .home_logo img { width: 80px !important; }
     .container .rounded-5 {
        border-radius: 1rem !important;
      }
      .main-contain .d-flex{
        flex-wrap: wrap;
      }
      [class*="col-"]{
        width: 100%!important;
      }
      .menu-item {
        text-align: center;
      }
    .product-catagory-name,.product-type-name{
        width: 100% !important;
    }
    .midle-item .cont-left {
        display: none;
    }
    .cont-center,.cont-rigth{
        width: 100% !important;
    }
    .item.w-50{
        width: 100% !important;
    }
    .product-thumb.w-50.m-3{
        margin: 0!important;
    }
    .baner-item.item-adv-simple{
        width: 100%!important;
        margin-bottom: 15px;
    }
    .swiper-button-next,.swiper-button-prev{
        display: none!important;
    }
    .footer .d-flex{
        flex-wrap: wrap;
    }
    .footer .cont-left ,.footer .cont-rigth{
        width: 100%!important;
        text-align: center;
    }
    .footer .cont-rigth.d-flex.justify-content-end{
        display: flex;
        justify-content: center!important;
    }
}
@media (max-width:360px) {
    .latest-testimo-tab .latest-post-info { padding-top: 0 }
    .search-form4 .select-category { display: none }
    .header-cat-parent a { display: block; padding: 5px 0px; font-weight: 700 }
    .smart-search.search-form4 { padding-left: 0; border-left: 1px solid #e5e5e5 }
    .hot-deal-tab-title li { display: block; margin-bottom: 10px; margin-right: 0; border-bottom: 1px solid #e5e5e5; padding-bottom: 10px }
    .hot-deal-tab-title li:last-child { border: none; margin: 0; padding: 0 }
    .hot-deal-tab-title { padding-right: 20px }
    .popular-cat-title.popular-cat-label > ul li { display: block }
    .deal-cat-title li { display: block; margin: 10px 0 }
    .item-banner8 .banner-info { display: none }
    .item-box-filter { width: 100% !important }
    .attr-product label { display: block; margin-bottom: 10px }
    .attr-info .addcart-link, .product-social-extra { margin: 10px 0 0 }
    .icon-table-detail { width: 40px }
    .item-tags-category h2 { display: block; margin-bottom: 20px }
    .item-tags-category ul { display: block; padding: 0 0 10px }
    .post-info-extra { display: none }
    .item-post-full .post-title { font-size: 18px }
    .search-form2 .select-category { display: none }
    .smart-search.search-form2 { margin: 0; padding: 0 }
    .top-info.top-info3 { display: none }
    .mini-cart.mini-cart-3 .content-mini-cart { right: auto; left: 0; width: 290px }
    .mobile-access-col2 .mobile-access-thumb { width: 100% }
    .mobile-access-col2 .product-info3 { padding-left: 0; padding-top: 0; width: 100% }
    .payment4.payment-method > label { margin: 0 0 10px 10px; display: block }
    .gallery-control a { height: 24px; line-height: 24px; margin-top: -50px; width: 24px }
    .list-button-box2 .bt-link, .list-button-box1 .bt-link { margin-left: 15px }
    .btn-circle-box { margin: 10px 15px }
    .circle2, .pie-chart, .circle1 { float: none; margin: 10px auto !important }
    .info-testimo-author { top: 25px }
    .quick-category { text-align: left }
    .header-product-filter .toggle-link-filter { position: static; display: block; padding: 15px 20px }
    .header-product-filter h2 span { display: block }
    .newsletter-footer.newsletter-footer8 { padding: 15px }
    .list-product-cat .item-product9 { float: none; width: auto }
    .list-outlet-left { padding-left: 30px !important }
    .quick-category a { border-right: none; display: block; margin-right: 0; padding-right: 0 }
    .category-filter-title li { display: block; margin: 0 }
    .header-nav2 { border: none; margin-top: -40px }
    .header2 { padding: 25px 0 0 0 }
}
@media (max-width:320px) {
    .contact-top7 > li:first-child { border-right: none; margin-right: 0; padding-right: 0 }
    .super-deal-countdown { margin-left: -10px }
    .bt-loadmore { max-width: 260px }
    .product-social-extra a { margin-right: 4px }
    .detail-gallery .carousel a { width: 60px }
    .large-cat-info, .large-cat-thumb { width: 100% }
    .box-category10 .info-price span { display: inline-block }
    .top-extra-link > a { padding: 5px 10px; display: inline-block }
}


@media (min-width:1200px){
    .auto-clear .col-lg-1:nth-child(12n+1){clear:left;}
    .auto-clear .col-lg-2:nth-child(6n+1){clear:left;}
    .auto-clear .col-lg-15:nth-child(5n+1){clear:left;}
    .auto-clear .col-lg-3:nth-child(4n+1){clear:left;}
    .auto-clear .col-lg-4:nth-child(3n+1){clear:left;}
    .auto-clear .col-lg-6:nth-child(odd){clear:left;}
}
@media (min-width:992px) and (max-width:1199px){
    .auto-clear .col-md-1:nth-child(12n+1){clear:left;}
    .auto-clear .col-md-2:nth-child(6n+1){clear:left;}
    .auto-clear .col-md-15:nth-child(5n+1){clear:left;}
    .auto-clear .col-md-3:nth-child(4n+1){clear:left;}
    .auto-clear .col-md-4:nth-child(3n+1){clear:left;}
    .auto-clear .col-md-6:nth-child(odd){clear:left;}
}
@media (min-width:768px) and (max-width:991px){
    .auto-clear .col-sm-1:nth-child(12n+1){clear:left;}
    .auto-clear .col-sm-2:nth-child(6n+1){clear:left;}
    .auto-clear .col-sm-15:nth-child(5n+1){clear:left;}
    .auto-clear .col-sm-3:nth-child(4n+1){clear:left;}
    .auto-clear .col-sm-4:nth-child(3n+1){clear:left;}
    .auto-clear .col-sm-6:nth-child(odd){clear:left;}
}
@media (min-width:480px) and (max-width:767px){
    .auto-clear .col-xs-1:nth-child(12n+1){clear:left;}
    .auto-clear .col-xs-2:nth-child(6n+1){clear:left;}
    .auto-clear .col-xs-15:nth-child(5n+1){clear:left;}
    .auto-clear .col-xs-3:nth-child(4n+1){clear:left;}
    .auto-clear .col-xs-4:nth-child(3n+1){clear:left;}
    .auto-clear .col-xs-6:nth-child(odd){clear:left;}
}
@media (max-width:479px){
    .auto-clear .col-ts-1:nth-child(12n+1){clear:left;}
    .auto-clear .col-ts-2:nth-child(6n+1){clear:left;}
    .auto-clear .col-ts-15:nth-child(5n+1){clear:left;}
    .auto-clear .col-ts-3:nth-child(4n+1){clear:left;}
    .auto-clear .col-ts-4:nth-child(3n+1){clear:left;}
    .auto-clear .col-ts-6:nth-child(odd){clear:left;}
}
@media (max-width:1201px) {
    .category-product-featured{
        height: 631px;
    }
    .list-child-category{
        height: 450px;
    }
}