   <!-- footer -->
   <div class="footer">
    <div class="container d-flex">
      <div class="cont-left w-75">
        <span class="fs-5"
          >Lurkkrobsop is a niche market for everything that clips and sets.
          We are dedicated to leading the gaming community. © 2024
          Lurkkrobsop.com | About them | Terms of service | Legal | Privacy |
          Help Center
        </span>
      </div>
      <div class="cont-rigth d-flex justify-content-end align-items-center gap-3 fs-1 w-25">
        <div class="icon-facebook">
          <i class="fa-brands fa-facebook text-white"></i>
        </div>
        <!-- <i class="fa-brands fa-facebook-f text-white"></i> -->
        <div class="icon-instagram">
          <i class="fa-brands fa-instagram text-white"></i>
        </div>
        <!-- <i class="fa-brands fa-square-instagram"></i>-->
        <div class="icon-telegram">
          <i class="fa-brands fa-telegram text-white"> </i>
        </div>
      </div>
    </div>
  </div>
  <!-- end footer -->