@import "https://fonts.googleapis.com/css?family=Roboto";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: Arial, sans-serif; */
    font-family: Roboto,sans-serif;
    font-size: 1rem;
}

.modal-body {
    background: url('../images/home/web-login-page2.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.container {
    width: 100%;    
    max-width: 1100px;
    padding: 20px;
    height: 100%;
}

.login-box {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 40px 50px;
    border-radius: 30px ;
    width: 400px;
    max-height: 400px;
    text-align: center;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.info-box {
    /* background-color: rgba(255, 255, 255, 0.1); */
    /* padding: 40px 50px; */
    border-radius: 30px ;
    width: 400px;
    height: 500px;
    text-align: start;
    /* backdrop-filter: blur(10px); */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
}

.info-box h1 , .info-box span {
    color: white;
}

.login-box h1 {
    font-size: 2.3rem;
    color: white;
    font-weight: bolder;
    margin-bottom: 10px;
}
.h-loing{
    font-size: 3rem;
}

.login-box p {
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 30px;
    font-weight: 500;
}

.login-box span {
    color: rgba(255, 255, 255, 0.7);
    font-size: .9rem;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    color: white;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 8px 20px;
    background-color: rgb(240, 248, 255);
    border: none;
    border-radius: 30px !important;
    font-size: 1rem;
}

 button {
    background-color: #f05c4e;
    border: none;
    padding: 5px 10px;
    width: 150px;
    border-radius: 25px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

 button:hover {
    background-color: #d9493b;
}

.learn-more {
    display: inline-block;
    margin-top: 20px;
    color: #f05c4e;
    text-decoration: none;
}

.learn-more:hover {
    text-decoration: underline;
}
