.register-form {
    width: 700px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Khmer OS Siemreap', sans-serif;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

.register-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-size: 20px;
}

.register-form label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.register-form input[type="text"],
.register-form input[type="email"],
.register-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.register-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.register-form input[type="submit"]:hover {
    background-color: #45a049;
}

.sP {
    /* text-align: center; */
    font-size: 15px;
    color: #333;
    /* margin-right: 200px; */
}
.lets {
    /* text-align: center; */
 width: 20px;
    color: #333;
    /* margin-bottom: -5px; */
}
.lep {
    /* text-align: center; */
 width: 16px;
    color: #333;
    /* margin-bottom: -5px; */
}


.more_then {
    text-align: center;
    font-size: 15px;
    color: #333;
    /* margin-top: -50px; */
}
.sD {
  
    font-size: 15px;
    color: #00000044;
    /* margin-right: 200px;
    margin-top: -55px; */

}
.sP, .sD {
    display: flex;
    align-items: center;
    justify-content: center;
}
.groupS {
    display: flex;
    align-items: center;
    justify-content: center;
}
