
body {
    font-family: Arial, sans-serif;
    background-color: var(--background);
    color: var(--foreground);

   
}

.container {
    background-color: var(--card);
    border-radius: var(--radius);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.box {
    margin-bottom: 20px;
}


.box img {
    border-radius: 10px;
    margin-right: 10px;
}

.box h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.box h2 {
    font-size: 20px;
    font-weight: bold;
}

.box p {
    font-size: 15px;
    color: var(--muted-foreground);
}


.create-shop{
    width: 120px;
    height: 40px;
    border-radius: 15%;
    background-color: #a96ae6;

}

/* .create-shop {
    background: linear-gradient(to right, #a96ae6, #c79184);
    color: var(--primary-foreground);
} */

.edit {
    width: 80px;
    height: 40px;
    border-radius: 15%;
    background-color: #a96ae6;
    color: white;
}

/* .edit {
    background: linear-gradient(to right, #a96ae6, #c79184);
    color: var(--primary-foreground);
} */



.gradient-line {
    width: 43%;
    height: 3px;
    background: linear-gradient(to right, #a96ae6, #ff7e5f);
    margin-bottom: 1rem;
}