
body {
    font-family: Arial, sans-serif;
    background-color: var(--background);
    color: var(--foreground);
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
}
.title-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;
}

.gradient-line {
    width: 13%;
    height: 3px;
    background: linear-gradient(to right, #a96ae6, #ff7e5f);
    margin-bottom: 1rem;
}

.main-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #333;
    margin: 0;
}

.summary-section {
    display: flex;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.summary-card {
    background-color: #e5e5e5;
    padding: 0.5rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    /* width: 50px;
    height: 50px; */
}

.summary-card h2 {
    font-size: 15px; /* Adjust font size */
}

.summary-card p {
    font-size: 1.125rem; /* Adjust font size */
}


.summary-card span {
    margin-left: 0.5rem;
    font-weight: bold;
    color: #555;
}

.sub-title {
    padding:40px;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: -80px;
    color: #333;
}

.search-bar {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
}

.search-input {
    width: 30%;
    padding: 0.5rem;
    border-radius: 10px; /* Adjust the value to make the corners more or less rounded */
    border: 0.2px solid #767373;
    background-color: #fff; /* Optional: add a background color */
}

.search-icon {
    position: absolute;
    top: 42.5%;
    right: 28%;
    transform: translateY(-50%);
    color: #8a8888;
}

.search{
    position: absolute;
    top: 40.8%;
    right: 24%;
    color: #767373;
   
}

.gradient-line-1 {
    margin-bottom: 1rem;
}

.icon-container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px; /* Adjust size as needed */
    height: 50px; /* Adjust size as needed */
    background: linear-gradient(to right, #a96ae6, #ff7e5f);
    border-radius: 50%;
    margin-left: 1rem; /* Adjust spacing as needed */
}

.icon-container i {
    color: white; /* Icon color */
    font-size: 24px; /* Adjust icon size as needed */
}
.flex {
    display: flex;
    flex-wrap: wrap;
    
}

.container-table {
    padding: 20px;
    background-color: var(--card);
    border-radius: var(--radius);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
