@charset "UTF-8";
@import"https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700&display=swap";
@import"https://fonts.googleapis.com/css2?family=Hanuman:wght@100;300;400;700;900&display=swap";
@import"https://fonts.googleapis.com/css2?family=Moul&display=swap";
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 20px;
}

::-webkit-scrollbar-track {
    background: #003399;
    border-radius: 10px;
}
* {
    font-family: Poppins, sans-serif, Hanuman, serif;
}

a {
    color: inherit;
    text-decoration: inherit;
}
*, ::after, ::before {
    box-sizing: border-box;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-user-drag: none;
    font-family: 'Poppins';
}
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FFFFFF;
    color: #000;
    font-size: 0.9rem;
    font-weight: normal;
    overflow: hidden !important;
}

.container {
    max-width: 80%;
    margin: auto;
    position: relative;
}
.navbar{
    background-color: #333333;
    margin: 0;
    padding: 0;
}
.header{
    color: #FFFFFF;
    padding: 10px 0;
    border-bottom: 1px solid #D9D9D9;
}
.header a:hover{
    color: #A96AE6;
}
line{
    min-height: 18px;
    width: 0px;
    border: 0.5px solid #D9D9D9;
}
.c-A96AE6{
    color: #A96AE6;
}

ul {
    padding: 0;
    list-style: none;
}

.sub-menu-top {
    background: #fafafa none repeat scroll 0 0;
    /*border: 10px solid #fff;*/
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    right: 0;
    top: 25%;
    width: 170px;
    z-index: 99;
	-webkit-transition:all 0.3s ease-out 0s;
	transition:all 0.3s ease-out 0s;
	opacity:0;
	visibility:hidden;
	margin-top:30px;
    text-align: left;
}
.has-child:hover .sub-menu-top {
    margin-top: 2px;
    opacity: 1;
    visibility: visible;
}

.top-info .has-child:hover .sub-menu-top {
    margin-top: 2px;
    opacity: 1;
    visibility: visible;
}
.language-selected img {
    margin-right: 5px;
}
.sub-menu-top  li {
    border-bottom: 1px solid #f2f2f2;
    padding: 5px 10px;
	-webkit-transition:all 0.3s ease-out 0s;
	transition:all 0.3s ease-out 0s;
}
.sub-menu-top  li:hover {
    background:#A96AE6;
}
.sub-menu-top  li:hover a{
	color:#fff;
}
.sub-menu-top  li:last-child{
	border:none;
}
.top-language .sub-menu-top img {
    margin-right: 10px;
    width: 14px;
    height: 11px;
}
.top-currency .sub-menu-top{
	width:110px;
}
.top-language .sub-menu-top{
	width:120px;
    right: 5%;

}
.sub-menu-top a {
    color: #666;
	-webkit-transition:all 0.3s ease-out 0s;
	transition:all 0.3s ease-out 0s;
}
.top-currency .sub-menu-top span {
    margin: 0 16px 0 6px;
}
.sub-menu-top a i {
    display: inline-block;
    width: 22px;
}
.sub-menu-top a,.contain-menu a:hover{
	color:#A96AE6;
}

.menu .home_logo{
    /* height: 100px; */
    margin: 20px 0;
}

.menu .home_logo img{
    width: 100px;
    /* height: 100; */
}

.menu .contain-menu {
    color: #FFFFFF;
}

.menu .contain-menu span{
    font-size: 18px;
}
.menu .contain-menu .active{
    color:#A96AE6;
}

